@model LinkedHU_CENG.Models.Announcement
@{
    ViewData["Title"] = "Announcement";
    var isUserValid = ViewData["isBanUserValid"] as int?;

}
@if (isUserValid == 1)
{
    <form asp-controller="Announcement" asp-action="Create" method="post" enctype="multipart/form-data" style="margin-left:30px; margin-top:80px; width:420px;">
        <div class="border p-3 mt-4 custom-margin1 custom-shadow1" style="margin-top:64px; background:#E7E7E5; box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px">
            <div class="mb-3 ">
                <h3 class="text-primary">Share Announcement</h3>
                <div class="form-group">
                    <textarea asp-for="Content" class="form-control" id="exampleTextarea" style="border-style: double;" rows="3"></textarea>
                </div>
                <span asp-validation-for="Content" class="text-danger"></span>

            </div>
            <div style="justify-content-center">
                <button class="btn btn-danger my-2 my-sm-0 mx-auto d-block" style="text-align:center;" type="submit">Share</button>
            </div>
        </div>
    </form>
}
