@model LinkedHU_CENG.Models.Administrator

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "VerifyAccounts";
}


<div style="display:block; width:100%;">
    @await Component.InvokeAsync("UnregisteredViewComponent")
</div>
